@import 'colors';

body {
  margin: 0;
  padding: 0;
  color: $faint-purple;
  background-color: $background;
}


    button {
      margin-bottom: 20px;
      text-transform: none;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      display: inline-block;
      font-weight: 400;
      line-height: 2.5em;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: .3rem 1rem;
      font-size: 1rem;
      border-radius: .25rem;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      color: $eccentric;
      background-color: transparent;
      border-color: $eccentric;
      -webkit-appearance: button;
      width: 100%;
    }
    /* custom button hover effects */
    button:hover {
      background-color: $eccentric;
      color: white;
    }

main {
  background-color: $background;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $faint-white;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
}

h2 {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}

h3 {
  text-align: center;
}

main h2 {
  font-family: 'BenchNine', sans-serif;
  font-size: 46px;
  letter-spacing: 3px;
  margin-top: 12px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.cursive {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

section {
  width: 100%;
}
