body {
  margin: 0;
  padding: 0;
  color: #afa9d3;
}

main {
  background-color: #1b0a35;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f7931e;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
}

h2 {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}

main h2 {
  font-family: 'BenchNine', sans-serif;
  font-size: 32px;
  letter-spacing: 3px;
  margin-top: 12px;
  margin-bottom: 5px;
}
.cursive {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 1170px;
}