.modal {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: -100vh;
  left: 0;
  z-index: 20;
  background-color: rgba(0,0,0,0.56);
  -webkit-transition: top .5s; /* Safari */
  transition: top .5s;

  &.active {
    top: 0;
  }
}