.modal {
  /****** Partial CSS Reset ********/
  .resume {
    .download {
      float: right;
    }
    h1, h2, h3, ul, h4{
      margin: 0;
    }

    a {
      color: inherit;
      text-decoration: none;
      display: inherit;
      align-items: inherit;
    }

    ul {
      margin-bottom: 5px;
    }

    #inspiration {
      top: -2px;
      left: -2px;
    }

    .full-screen {
      width: 813px;
      height: 1053px;
    }

    .full-screen.container {
      // background-color: rgba(240, 248, 255, 0.54);
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      padding-top: 45px;
      padding-left: 40px;
      padding-right: 40px;
    }

    body {
      font-family: 'Open Sans', sans-serif;
      color: #6d7ba5;
    }

    .body {
      display: inline-flex;
      flex-direction: row;
      align-content: flex-start;
    }
    /***** HEADER ******/
    header {
      display: inline-flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      height: 146px;
      border-bottom: solid 2px gray;
    }

    img#header-mugshot {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      border: 1px solid;
    }

    #header-name {
      font-family: 'BenchNine', sans-serif;
      font-size: 4.9em;
      font-weight: bold;
      letter-spacing: 3px;
      margin-top: -15px;
      text-align: center;
    }

    .header-last-name {
      font-size: .5em;
      margin: -30px;
    }

    .header-titles {
      font-family: 'Poiret One', cursive;
      font-size: .2em;
      position: relative;
      top: 25px;
    }

    #header-icons {
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-family: 'Poiret One', cursive;
      font-weight: 800;
    }

    .header-icon {
      display: flex;
      align-items: center;
      margin-bottom: 9px;
      font-size: 12px;
    }
    .header-icon i {
      text-align: left;
      margin-right: 10px;
    }

    [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
      font-size: 25px;
    }

    /**** NAV ****/

    nav {
      width: 176px;
      padding-right: 25px;
      display: inline-block;
      margin-top: 23px;
      border-right: 2px solid gray;
    }
    section {
      padding-bottom: 10px;
      border-bottom: 2px solid gray;
    }
    nav section:first-of-type {
      margin-top: -20px;
    }
    nav p {
      font-size: 13px;
      margin: 0;
    }
    h2 {
      font-family: 'BenchNine', sans-serif;
      font-size: 32px;
      letter-spacing: 3px;
      margin-top: 12px;
      margin-bottom: 5px;
    }
    nav .indent {
      margin-left: 10px;
    }
    .skills {
      list-style-type: none;
      padding-left: 2px;
    }
    .edu {
      margin-top: 10px;
    }
    .star-ranking {
        position: absolute;
        right: 0;
        top: 0;
        letter-spacing: -1px;
        font-size: .8em;
        overflow-x: hidden;
    }

    .star-ranking .star-5 {
      overflow-x: hidden;
      width: 100%;
    }
    .star-ranking .star-4-5 {
      overflow-x: hidden;
      width: 90%;
    }
    .star-ranking .star-4 {
      overflow-x: hidden;
      width: 80%;
    }
    .star-ranking .star-3-5 {
      overflow-x: hidden;
      width: 70%;
    }
    .star-ranking .star-3 {
      overflow-x: hidden;
      width: 60%;
    }

    .skills li {
        position: relative;
    }


    /**** Articles ****/
    article section:first-of-type {
      margin-top: 16px;
    }
    article {
      /*width: 506px;*/
      padding-left: 20px;
    }

    article section li {
      font-size: 13px;
    }
    .borderless {
      border: 0;
    }
    h4 {
      font-weight: bold;
      font-size: .7em;
    }
    article ul {
      padding-left: 24px;
    }
    span.links {
      float: right;
    }
    span.links i {
      margin: 2px;
    }
    span.links a {
      display: inline;
    }
  }
}